<div class="container mt-2">
  <ng-container  *ngIf="customers | async as listCustomers; else failure" >
      <div class="card-header">Customers</div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()" class="mb-4">
            <div class="input-group">
              <label class="input-group-text" for="search">
                Keyword:
              </label>
              <input
                type="text"
                id="search"
                formControlName="keyword"
                class="form-control form-control-lg"
                placeholder="Search by name or email">
              <button
                type="submit"
                class="btn btn-primary">
                Search
              </button>
            </div>
          </form>
        </div>
        <table class="table table-hover table-bordered align-middle">
          <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers | async">
            <td>{{ customer.id }}</td>
            <td>{{ customer.nom }}</td>
            <td>{{ customer.email }}</td>
          </tr>
          </tbody>
        </table>
      </div>
  </ng-container>
  <ng-template #failure>
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>

</div>
